@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*, *::before, *::after {
  font-family: "Poppins", sans-serif;
}

html, body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif !important;
}

::-moz-selection {
  background-color: rgb(181, 192, 221);
  color: black;
}

::selection {
  background-color: rgb(181, 192, 221);
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(181, 192, 221);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2751c4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2751c4;
}

.blue-btn {
  background: #2751c4;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}
.blue-btn:hover {
  background: rgb(181, 192, 221);
  color: #2751c4;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  text-decoration: none;
}

div.wpforms-container-full .wpforms-form .wpforms-pagebreak-left .wpforms-page-button,
.wpforms-submit-container .wpforms-submit,
.wpforms-form button[type=submit] {
  background: #2751c4 !important;
  border: 0;
  border-radius: 30px;
  color: white !important;
  font-weight: bold;
  padding: 10px 30px !important;
}
div.wpforms-container-full .wpforms-form .wpforms-pagebreak-left .wpforms-page-button:hover,
.wpforms-submit-container .wpforms-submit:hover,
.wpforms-form button[type=submit]:hover {
  background: rgb(181, 192, 221) !important;
  color: #2751c4 !important;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05) !important;
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05) !important;
  text-decoration: none;
}

.wpforms-form .wpforms-save-resume-button {
  color: #2751c4 !important;
  margin: 0 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  z-index: 20;
}

.secondary-nav {
  background: #2751c4;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 6rem;
}
.secondary-nav-left a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-right: 10px;
}
.secondary-nav-right a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.primary-nav {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  padding: 10px 6rem;
  height: 80px;
}
.primary-nav .logo img {
  height: 75px;
}
.primary-nav .primary-nav-links {
  margin-top: 16px;
}
.primary-nav .primary-nav-links .current-menu-item {
  font-weight: bold;
}

nav.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
nav.main-menu ul a {
  color: #2751c4;
  padding: 0 15px;
  -webkit-transition: 250ms;
  transition: 250ms;
}
nav.main-menu ul a:hover {
  text-decoration: none;
}

.application-button-mobile {
  display: none;
}

.burger {
  position: fixed;
  top: 7.2rem;
  bottom: 50%;
  right: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  z-index: 20;
  display: none;
}
.burger:hover {
  height: 30px;
}

.burger-bar {
  background-color: #2751c4;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
.burger-bar::before, .burger-bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #2751c4;
  border-radius: 3px;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.burger-bar::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.burger-bar::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.burger.open .burger-bar {
  background: transparent;
}

.burger.open .burger-bar::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #2751c4;
}

.burger.open .burger-bar::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #2751c4;
}

@media (max-width: 960px) {
  .secondary-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .primary-nav .logo {
    position: fixed;
    left: 20px;
    top: 72px;
  }
  .application-button {
    display: none;
  }
  .application-button-mobile {
    display: block;
    margin-top: 60px;
    margin-left: 32px;
  }
  .primary-nav-links {
    position: fixed;
    top: 150px;
    left: -350px;
    background: white;
    width: 300px;
    height: 100vh;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 10;
  }
  .primary-nav-links nav.main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .primary-nav-links nav.main-menu ul a {
    color: #2751c4;
    display: block;
    margin: 30px 0;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  .primary-nav-links.active {
    left: 0;
  }
  .burger {
    display: block;
  }
}
@media (max-width: 560px) {
  .secondary-nav-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .secondary-nav-left a {
    margin-right: 0;
  }
  .secondary-nav-left svg {
    display: none;
  }
  .secondary-nav-right a {
    margin-left: 0;
  }
  .primary-nav .logo {
    top: 80px;
  }
  .primary-nav .logo img {
    height: 60px;
    margin-top: 10px;
  }
  .burger {
    top: 7.8rem;
  }
}
.banner {
  margin-top: 140px;
}

.uk-slideshow-items h3, .uk-slideshow-items p, .uk-slideshow-items small {
  color: #2751c4;
  font-family: inherit;
}
.uk-slideshow-items .uk-overlay-default {
  border-radius: 30px;
  padding-bottom: 50px;
}

.cta-block {
  background: white;
  border-radius: 50px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
  color: #2751c4;
  position: relative;
  margin-top: -45px;
  padding: 2rem 20px;
}
.cta-block h3 {
  color: #2751c4;
  font-size: 20px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .cta-block {
    border-radius: 30px;
    margin-top: -25px;
  }
  .cta-block h3 {
    font-size: 18px;
  }
}
.intro {
  padding: 5rem 0;
}
.intro article {
  max-width: 520px;
  width: 100%;
  margin: auto;
  padding-bottom: 2rem;
}
.intro h2 {
  color: #2751c4;
  font-weight: bold;
  position: relative;
}
.intro h2::after {
  content: "";
  width: 35px;
  height: 3px;
  border-radius: 3px;
  background: #2751c4;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro-service-card img {
  border-radius: 30px;
  margin-bottom: 15px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro-service-card h4 {
  color: #2751c4;
  margin: 0;
}
.intro-service-card p {
  margin: 0;
}

.home-care-services {
  background: rgb(181, 192, 221);
  color: #2751c4;
  padding: 5rem 0;
}
.home-care-services svg {
  font-size: 35px;
  margin-bottom: 10px;
}
.home-care-services h4 {
  color: #2751c4;
  font-weight: bold;
  margin: 0;
}
.home-care-services p {
  margin: 0;
  margin-top: 10px;
}

footer {
  background: #2751c4;
  color: white;
  padding: 5rem 0;
}
footer p, footer a {
  font-size: 14px;
}
footer h4 {
  color: white;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}
footer p {
  margin: 0;
}

.footer-menu ul {
  list-style: none;
  padding-left: 0;
}
.footer-menu ul a {
  color: whitesmoke;
}
.footer-menu ul a:hover {
  color: white;
}

.footer-links a {
  color: whitesmoke;
  text-decoration: underline;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: #2751c4;
  color: white;
  cursor: pointer;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  font-size: 18px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
}

#myBtn:hover {
  background-color: rgb(181, 192, 221);
  color: #2751c4;
}

.page-header {
  position: relative;
  z-index: 1;
  margin-top: 160px;
}

.page-header-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-header-grid .page-header-left {
  background: #2751c4;
  height: 200px;
  width: 40%;
}
.page-header-grid .page-header-right {
  margin-left: -5rem;
}
.page-header-grid h1 {
  color: #2751c4;
  mix-blend-mode: difference;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.page-content {
  padding: 5rem 0;
}

.contact-us-content h3, .contact-us-content h4 {
  color: #2751c4;
  margin: 0;
}
.contact-us-content h3 {
  font-weight: bold;
}
.contact-us-content p {
  margin: 0;
}

.cqc-container {
  margin-top: 15px;
}

@media (max-width: 960px) {
  .page-header {
    margin-top: 170px;
  }
}