footer {
    background: $blue;
    color: white;
    margin-top: 5rem;
    padding: 5rem 0;

    p, a {
        font-size: 14px;
    }

    h4 {
        color: white;
        font-weight: bold;
        margin: 0;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
    }
}

.footer-menu {
    ul {
        list-style: none;
        padding-left: 0;

        a {
            color: whitesmoke;

            &:hover {
                color: white;
            }
        }
    }
}

.footer-links {
    a {
        color: whitesmoke;
        text-decoration: underline;
    }
}