.home-care-services {
    background: $blueLight;
    color: $blue;
    padding: 5rem 0;

    svg {
        font-size: 35px;
        margin-bottom: 10px;
    }

    h4 {
        color: $blue;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0;
        margin-top: 10px;
    }
}