.intro {
    padding: 5rem 0;

    article {
        max-width: 520px;
        width: 100%;
        margin: auto;
        padding-bottom: 2rem;
    }

    h2 {
        color: $blue;
        font-weight: bold;
        position: relative;

        // &::after {
        //     content: '';
        //     width: 35px;
        //     height: 3px;
        //     border-radius: 3px;
        //     background: $blue;

        //     position: absolute;
        //     bottom: 0;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }
    }
}

.intro-service-card {
    img {
        border-radius: $borderRadius;
        margin-bottom: 15px;
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    h4 {
        color: $blue;
        margin: 0;
    }

    p {
        margin: 0;
    }
}