.page-header {
    position: relative;
    z-index: 1;

    margin-top: 160px;
}

.page-header-grid {
    display: flex;
    align-items: center;
    // justify-content: center;

    .page-header-left {
        background: $blue;
        height: 200px;
        width: 40%;
    }

    .page-header-right {
        margin-left: -5rem;
    }

    h1 {
        color: $blue;
        mix-blend-mode: difference;
        font-weight: bold;
        position: relative;
        text-align: center;
    }
}

.page-content {
    padding: 5rem 0;
}

.contact-us-content {
    h3, h4 {
        color: $blue;
        margin: 0;
    }

    h3 {
        font-weight: bold;
    }

    p {
        margin: 0;
    }
}

.cqc-container {
    margin-top: 15px;
}

@media (max-width: 960px) {
    .page-header {
        margin-top: 170px;
    }
}