.page-header {
    color: $blue;
    position: relative;
    z-index: 0;

    margin-top: 145px;

    h1 {
        color: $blue;
        font-weight: bold;
        position: relative;
        text-align: center;
    }
}

.page-content {
    padding: 5rem 0;
}

@media (max-width: 960px) {
    .page-header {
        margin-top: 170px;
    }
}