.page-header {
    position: relative;
    z-index: 1;

    margin-top: 160px;
}

.page-header-grid {
    display: flex;
    align-items: center;
    // justify-content: center;

    .page-header-left {
        background: $blue;
        height: 200px;
        width: 40%;
    }

    .page-header-right {
        margin-left: -6rem;
    }

    h1 {
        color: $blue;
        mix-blend-mode: difference;
        font-weight: bold;
        position: relative;
        text-align: center;
    }
}

.page-content {
    padding: 5rem 0;
}

.contact-us-content {
    h3, h4 {
        color: $blue;
        margin: 0;
    }

    h3 {
        font-weight: bold;
    }

    p {
        margin: 0;
    }
}

.cqc-container {
    margin-top: 15px;
}

// About Us Page
.about-us-content {
    // max-width: 600px;
    // width: 100%;
    // margin: 0 auto;

    h3 {
        color: $blue;
        font-weight: bold;
        margin: 0;
        line-height: 30px;
    }

    p {
        margin: 0;
    }
}

.custom-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;

    article, figure {
        width: calc(50% - 20px);
    }

    article {
        h4 {
            color: $blue;
            font-weight: bold;
            position: relative;

            &::after {
                content: '';
                background: $blueLight;
                width: 60px;
                height: 40px;
                position: absolute;
                left: 0;
                top: -7px;
                z-index: -1;
            }
        }
    }

    figure img {
        border-radius: $borderRadius;
    }
}

.custom-flex-alt {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;

    article, figure {
        width: calc(50% - 20px);
    }

    article {
        h4 {
            color: $blue;
            font-weight: bold;
            position: relative;

            &::after {
                content: '';
                background: $blueLight;
                width: 60px;
                height: 40px;
                position: absolute;
                left: 0;
                top: -7px;
                z-index: -1;
            }
        }
    }

    figure img {
        border-radius: $borderRadius;
    }
}

// Get started page template
.get-started-page {
    padding: 2rem 0 3rem 0;
}

.page-template-subtitle {
    color: $blue;
    font-weight: bold;
}

.get-started-cards {
    margin-bottom: 2rem;
}

.get-started-card {
    // border-radius: $borderRadius;

    h3 {
        color: $blue;
        font-size: 35px;
        font-weight: bold;
    }
}

// Page Home Care
.home-care-help {
    padding: 0 0 5rem 0;

    .uk-card {
        padding: 20px;
    }

    h3 {
        color: $blue;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0;
    }

    h4 {
        color: $blue;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }

    img {
        width: 80px;
    }
}

// Page Care Services
.care-service-cards {
    margin-top: 3rem;
}

.care-service-card {
    color: #666;
    text-decoration: none;
    transition: 250ms;

    &:hover {
        text-decoration: none;
        color: $blue;
    }

    &:hover img {
        border-color: $blue;
    }

    h5 {
        color: $blue;
        font-weight: bold;
        margin: 0;
    }

    p {
        margin: 0;
    }

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 100%;
        border: 10px solid $blueLight;
        margin-bottom: 15px;
        transition: border 250ms ease-in-out;
    }
}

@media (max-width: 960px) {
    .page-header {
        margin-top: 170px;
    }

    .custom-flex {
        flex-direction: column;

        article, figure {
            width: 100%;
        }
    }

    .custom-flex-alt {
        flex-direction: column-reverse;

        article, figure {
            width: 100%;
        }
    }
}